<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<title>form</title>
</head>
<body>
<form action="/ninjas/create" method="post">
<div class="form-group">
<section class="intro">

<div class="bg-image h-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(255,255,255,.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card gradient-custom" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-white">
                            <div class="my-md-5">
                            <div class="text-center pt-1">
                                <i class="fas fa-user-astronaut fa-3x"></i>
                                <h1 class="fw-bold my-5 text-uppercase" style="color:#000000">Add NINJA &#x1F977; </h1>
                            </div>
                            <div class="form-outline form-black mb-4">
                                <label class="form-label" for="typeEmail" style="color:#000000";>DOJO</label>
                                <select name="dojo_id" id="" value="{{this_ninja.dojo_id}}" class="form-control form-control-lg">
                                    {% for dojo in dojos %}
                                    <option value="{{ dojo.id }}"> {{ dojo.id }} -- {{ dojo.name }}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePassword" style="color:#000000">First name</label>
                                <input type="text" id="typePassword" class="form-control form-control-lg" value="{{this_ninja.first_name}}" name="first_name"/>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePassword" style="color:#000000">Last name</label>
                                <input type="text" id="typePassword" class="form-control form-control-lg" value="{{this_ninja.last_name}}"name="last_name" />
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePassword" style="color:#000000">Age</label>
                                <input type="text" id="typePassword" class="form-control form-control-lg" value="{{this_ninja.age}}"name="age" />
                            </div>
                            <div class="text-center py-5">
                                <button class="btn btn-success" type="submit">Save changes</button>
                                <a class="btn btn-primary m-2" href="/ninjas" target="_blank" role="button">Show All Ninjas</a><br>
                                <a class="btn btn-secondary m-2" href="/" target="_blank" role="button">Home</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</form>
</body>
</html>